*.pyc
tt*
tt
tt2
tt2*
t2*
tt.py
t2.py
t3.py
__pycache__
__pycache__/*
tt*.py
tcs
tcs/*
tt/*
document
*wasm
se_inst.log
tmp_result
test_tcs
test_tcs/**
generated_tcs
generated_tcs/**
tmp_result
tmp*
spec_cov_calculator
for_test
wasms_test
se_inst.log
the_signal_to_generate_debug_jsons